.image-container {
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
  &::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    background: var(--gradient-card);
    height: 100%;
    width: 100%;
    transition: transform 0.7s ease-in-out;
  }
  &:hover {
    &::after {
      transform: scale(1.1);
    }
    .image {
      transform: scale(1.1);
    }
  }
}
.image {
  width: 100%;
  height: 100%;
  transition: transform 0.7s ease-in-out;
  object-fit: cover;
  object-position: center;
  filter: brightness(0.8);
}
