.card-primary {
  position: relative;
  height: 100%;
  width: 100%;
  border-radius: var(--border-radius);
  overflow: hidden;
}
.card-small {
<<<<<<< HEAD
  height: 100%;
  width: 100%;
=======
  height: 12rem;
  width: 100;
>>>>>>> 8bfe2ef7bbe10203b8c48c49e0de98ceef881024
}
