.title {
  font-size: var(--title);
  font-weight: var(--bold);
  color: var(--white);
  display: block;
}
.title--small {
  font-size: var(--sub-title);
}
.title--swiper {
  font-size: var(--title);
  font-weight: var(--bold);
  margin-bottom: var(--spacing);
}
