.main-content {
  width: 95%;
  margin: 0 auto;
  margin-top: var(--spacing-large);
}
.top-section {
}
.hero {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: var(--secondary-color);
  border-radius: var(--border-radius);
  padding: var(--spacing-xlarge);
  height: auto;

  @media (min-width: 640px) {
    flex-direction: row;
    justify-content: space-between;
    height: 500px;
  }
}
.hero__left-box {
  width: calc(35% - var(--spacing-large));
  height: 100%;
}
.hero__title {
  margin-bottom: var(--spacing);
  align-text: left;
}
.hero__right-box {
  width: 100%;
  @media (min-width: 640px) {
     width: calc(65% - 4rem);
  }
}
