:root {
	--background-color: rgba(0, 0, 0, 0.934); /* Transparent gray */
	--secondary-color: rgba(83, 83, 83, 0.553);
	--primary-color: rgb(174, 174, 174);
	--button-color: rgba(0, 0, 0, 0.842);
	--button-color-hover: rgb(73, 141, 231);
	--heighlight: rgb(73, 141, 231);
  --white: #d2d2d2;
  --black: #000000;

	/* pelet */
	.color1 {color: #140f07;}
	.color2 {color: #10314d;}
	.color3 {color: #0971a8;}
	.color4 {color: #07baff;}
	.color5 {color: #0efff9;}

	/* font */
	--font-family: "Outfit", sans-serif;

	--title: 3.5rem;
	--sub-title: 2.5rem;
	--text: 1.8rem;
	/* font-weight */
	--light: 300;
	--normal: 400;
	--bold: 700;

	--card-grow: 1.1;
	--spacing: 0.5rem;
	--spacing-large: 1rem;
	--spacing-xlarge: 2rem;
	--spacing-xxlarge: 3rem;


	--border-radius: 1rem;

	--gradient-card:  linear-gradient(
		180deg,
		rgba(255, 255, 255, 0) 0%,
		rgba(23, 23, 23, 0.062) 55%,
		rgba(4, 4, 4, 0.795) 100%
	);

	--gradient-card-hover: linear-gradient(
		90deg,
		rgba(255, 255, 255, 0.5) 0%,
		rgba(255, 255, 255, 0.5) 100%
	);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
}
body {
	font-family: var(--font-family);
	font-size: 1.6rem;
	background-color: var(--background-color);
	position: relative;
	height: 100vh;
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
}
button {
	cursor: pointer;
	border: none;
	background-color: transparent;
}
input {
	border: none;
	outline: none;
	overflow: hidden;
}
label {
	color: var(--white);
	font-weight: var(--bold);
	font-size: var(--light);
}
img {
	border: none;
}
i {
	color: var(--white);
	fill: var(--white);
	display: block;
  font-size: 24px;
}
