@use "../../styles/variables.scss" as v;

.home-layout {
  display: flex;
}
.menu-layout {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 100vh;
  width: calc(100% - 85%);
  padding: 2rem;
}
